<mat-card>
  <mat-card-header fxLayoutAlign="space-around stretch">
    <h3 fxFlex>Format File</h3>
    <button mat-button>actionOne</button>
  </mat-card-header>
  <form [formGroup]="bankForm" fxLayout="row wrap" fxLayoutAlign="space-around stretch">
    <div mat-card-avatar class="avatar-card" style="background-image: url('{{bankForm.value.image}}');">
    </div>
    <div fxLayout="column" fxFlex="70">
      <mat-form-field>
        <input matInput placeholder="name" formControlName="name">
      </mat-form-field>
      <mat-radio-group formControlName="separatetype">
        <mat-radio-button fxFlex [value]="true">Fix Length</mat-radio-button>
        <mat-radio-button fxFlex [value]="false">Separate Char</mat-radio-button>
      </mat-radio-group>
      <ng-template [ngIf]="!bankForm.value.separatetype">
        <mat-form-field>
          <input matInput placeholder="Separate Char" formControlName="separatechar">
        </mat-form-field>
      </ng-template>
    </div>
  </form>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Format File">
        <form [formGroup]="bankForm">
          <div formArrayName="rows" *ngFor="let row of getRows();let idx = index;">
            <div [formGroupName]="idx">
              <table fxFlex style="margin-top: 20px;">
                <tr style="text-align: center;">
                  <th>Fieldname</th>
                  <th>Fieldtype</th>
                  <th>Fieldlength</th>
                  <th>Default value</th>
                  <th>Example data</th>
                </tr>
                <tr style="text-align: center;" formArrayName="fields" *ngFor="let field of getFields(row);let idy = index;">
                  <td [formGroupName]="idy">
                    <mat-form-field appearance="outline">
                      <input matInput placeholder="Fieldname" formControlName="fieldname">
                    </mat-form-field>
                  </td>
                  <td [formGroupName]="idy">
                    <mat-form-field appearance="outline">
                      <input matInput placeholder="Fieldtype" formControlName="fieldtype">
                    </mat-form-field>
                  </td>
                  <td [formGroupName]="idy">
                    <mat-form-field appearance="outline">
                      <input matInput placeholder="Length" formControlName="fieldlength">
                    </mat-form-field>
                  </td>
                  <td [formGroupName]="idy">
                    <mat-form-field appearance="outline">
                      <input matInput placeholder="Default value" formControlName="defaultvalue">
                    </mat-form-field>
                  </td>
                  <td [formGroupName]="idy">
                    <mat-form-field appearance="outline">
                      <input matInput placeholder="Example Data" formControlName="example">
                    </mat-form-field>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </form>
      </mat-tab>
      <mat-tab label="Other">Content 2</mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>